*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  background-color: whitesmoke;
}
.card{
  max-width: 470px;
  width: 90%;
  background-color: #23bbfc;
  margin: 100px auto 0;
  border-radius:20px;
  padding: 50px 35px;
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
.search{
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-shrink: 1;
 
}
.search input{
  font-size: 18px;
  color: #555;
  background-color: #ebfffc;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  margin-right: 16px;
  border: 0;
  outline: 0;
  flex: 1;

}
.search button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color:#ebfffc;
  cursor: pointer;
}
.search button img{
  width: 16px;
}
.city-name{
  font-size: 32px;
  font-weight: bold;
  margin-top: 30px;
}
.weather{
  margin-top: 10px;

}
.weather img{
  width: 150px;
}
.datee{
  font-size:18px ;
}
.card .temp-info{
  width: 80%;
  margin: 50px auto 0;
  padding: 40px 20px;
  background-color:rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: solid 1px;
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.temp-info p{
  font-size: 20px;
}
.temp-info span{
  font-size: 70px;
}
.temp-info p img{
  width: 35px;
}
.condition{
  font-size: 22px;
  font-weight: bold;
}
.details{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  justify-content: space-around;
  
}
.cols{
  display: flex;
  align-items: center;
  text-align: left;
   margin: 30px 0;
   gap: 8px;
}
.cols img{
  width: 35px;
 
}
@media (max-width : 480px) {
  .card{
    padding: 20px;
    margin: auto;
    height: auto;
  }
  .search input{
    padding: 10px 15px;
    height: 40px;
    font-size: 14px;
  }
  .search button{
    width: 40px;
    height: 40px;
  }
  .details{
    flex-direction: column;
    align-items: center;
  }
}